div.container {
    max-width: 95%;
}

i.cube {
    font-size: 20px;
}
i.cube-W {
    color: #999;
}
i.cube-Y {
    color: #fc1;
}
i.cube-B {
    color: #00f;
}
i.cube-R {
    color: #f00;
}
i.cube-K {
    color: #000;
}

i.smallCube {
    font-size: 13px;
}
i.cube-DY {
    color: #970;
}

div#commands {
    position: fixed;
    bottom: 10px;
    left:10px;
}

.emp-cell {
    background-color: #ead6a4;
    border: 1px solid #e09c37;
}
#emp-cell-0, .row.head div.emp-cell {
    background-color: #e09c37;
    border: 1px solid #e09c37;
}

.pub-cell {
    background-color: #d4d4f4;
    border: 1px solid #b0a2c1;
}
#pub-cell-0, .row.head div.pub-cell {
    background-color: #b0a2c1;
    border: 1px solid #b0a2c1;
}

.wea-cell {
    background-color: #eaca72;
    border: 1px solid #e28500;
}
#wea-cell-0, .row.head div.wea-cell {
    background-color: #e28500;
    border: 1px solid #e28500;
}

.hea-cell {
    background-color: #a4a4d4;
    border: 1px solid #1d0da8;
}
#hea-cell-0, .row.head div.hea-cell {
    background-color: #1d0da8;
    border: 1px solid #1d0da8;
    color: white;
}

.pop-cell {
    background-color: #90d090;
    border: 1px solid #008A31;
}

#pop-cell-0, .row.head div.pop-cell {
    background-color: #008A31;
    border-bottom: 1px solid #008A31;
}

.row.head div, div.tracks div.tr-0 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

div.tracks div.row div.col {
    max-width: 20%;
    flex: 0 0 20%;
}

/*Institutions*/

div#Institutions div div.head span.title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

div#Institutions div.row.col-12 {
    margin: 0px;
    padding: 0px;
}
    
div.pen-cell {
    background-color: #ead6a4;
    border: 1px solid #e09c37;
}

div.pen-head {
    background-color: #e09c37;    
    background: linear-gradient(90deg, #e09c37 30%, #fff 85%);
    border: 1px solid #e09c37;
}

div.nas-cell {
    background-color: #a4a4d4;
    border: 1px solid #1d0da8;
}

div.nas-head {
    background-color: #1d0da8;
    background: linear-gradient(90deg, #1d0da8 30%, #fff 85%);
    border: 1px solid #1d0da8;
}

div.sow-cell {
    background-color: #aaa;
    border: 1px solid #555;
}

div.sow-head {
    background-color: #222;
    background: linear-gradient(90deg, #222 30%, #fff 85%);
    border: 1px solid #222;
}


.Institutions-cell.private-action-cell, .Institutions-cell.icon-cell {
    background-color: #fff;
    border: 0px;
}
.Institutions-cell.Institutions-cell-first    {
    filter: brightness(0.8);
}




.table th, .table td {
    padding: 3px;
}
 
td.current, div.current {
    border: 6px solid #ff0000 !important;
}


button.btn.choose-btn, .btn-std-action {
    white-space: normal;
}

footer.footer {
    background-color: #eee;
}