div.container {
    max-width: 95%;
}

i.cube {
    font-size: 20px;
    text-shadow: 0 0 3px white;
}
i.cube-W {
    color: #00a2b6;
}
i.cube-Y {
    color: #fc1;
}
i.cube-B {
    color: #00f;
}
i.cube-R {
    color: #f00;
}
i.cube-K {
    color: #000;
}

i.smallCube {
    font-size: 13px;
}
i.cube-DY {
    color: #970;
}

.container .row.riga1 {
    min-height: 399px;
}

#bags {
    min-height: 100px;
}

.bag {
    border: 1px solid black;
    background: linear-gradient(180deg, #333 0%, #eee 100%);
    margin: 8px 0px;
    padding: 1px 2px;
    color: white;
    height: 100%;
    border-radius: 0.25rem;
    position: relative;
}

.show-bag {
    color: #333;
    font-size: xx-small;
    bottom: 0px;
    font-family: monospace;
    position: absolute;
}

div#result-box {
    border: 1px solid black;
    background-color: antiquewhite;
    font-family: monospace;
    text-align: justify;
}

div#result-box {
    max-height: 280px;
    /*overflow: hidden scroll;*/
}

div.turn-track {
    border: calc(var(--bs-gutter-x)/5) solid #ff000000;
}

h2.newspaper-name {
    font-family: serif;
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
    width:100%;
    min-width:1px;    
}

p.newspaper-info {
    font-size: smaller;
    font-style: oblique;
}

h5 {
    display: inline-flex;
}

div#result-box h5 {
    font-size: xxx-large;
    text-align: center;
    clear: both;
    font-variant: small-caps;
    border-top: double 8px black;
}

.row.paper-text {
    font-size: smaller;
}

#cubeDrawResultEffect {
    font-weight: bold;
    border: 2px dotted black;
    font-size: x-large;
}

div#commands {
    position: fixed;
    bottom: 10px;
    left:10px;
}

.E-cell {
    background: linear-gradient(90deg, #ead6a4 0%, #fff 100%); 
    border: 1px solid #926017;
}
div.tr-0.E-cell, .row.head div.E-cell {
    background: #926017;
    border: 1px solid #926017;
}

.S-cell {
    background: linear-gradient(90deg, #d4d4f4 0%, #fff 100%); 
    border: 1px solid #b0a2c1;
}
div.tr-0.S-cell, .row.head div.S-cell {
    background: #b0a2c1;
    border: 1px solid #b0a2c1;
}

.W-cell {
    background: linear-gradient(90deg, #eaca72 0%, #fff 100%); 
    border: 1px solid #e28500;
}
div.tr-0.W-cell, .row.head div.W-cell {
    background: #e28500;
    border: 1px solid #e28500;
}

.H-cell {
    background: linear-gradient(90deg, #a4a4d4 0%, #fff 100%); 
    border: 1px solid #1d0da8;
}
div.tr-0.H-cell, .row.head div.H-cell {
    background: #1d0da8;
    border: 1px solid #1d0da8;
    color: white;
}

.P-cell {
    background: linear-gradient(90deg, #90d090 0%, #fff 100%); 
    border: 1px solid #008A31;
}

div.tr-0.P-cell, .row.head div.P-cell {
    background: #008A31;
    border-bottom: 1px solid #008A31;
}

.row.head div, div.tracks div.tr-0 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

div.tracks div.row div.col {
    max-width: 20%;
    flex: 0 0 20%;
}

/*Institutions*/

div#Institutions div div.head span.title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

div#Institutions div.row.col-12 {
    margin: 0px;
    padding: 0px;
    box-shadow: #0000005e 0px 0px 7px 3px;
}
    
div.PE-cell {
    background-color: #ead6a4;
    border: 1px solid #926017;
}

div.PE-head {
    background-color: #926017;    
    background: linear-gradient(90deg, #926017 30%, #fff 85%);
    border: 1px solid #926017;
}

div.NS-cell {
    background-color: #a4a4d4;
    border: 1px solid #3c0da8;
}

div.NS-head {
    background-color: #3c0da8;
    background: linear-gradient(90deg, #3c0da8 30%, #fff 85%);
    border: 1px solid #3c0da8;
}

div.SW-cell {
    background-color: #ccc;
    border: 1px solid #777;
}

div.SW-head {
    background-color: #777;
    background: linear-gradient(90deg, #555 30%, #fff 85%);
    border: 1px solid #777;
}

div.IF-cell {
    background-color: #999;
    border: 1px solid #000;
}

div.IF-head {
    background-color: #000;
    background: linear-gradient(90deg, #000 30%, #ccc 85%);
    border: 1px solid #000;
}

div.IN-cell {
    background-color: #aaeaa4;
    border: 1px solid #329217;
}

div.IN-head {
    background-color: #329217;
    background: linear-gradient(90deg, #329217 30%, #fff 85%);
    border: 1px solid #329217;
}

div.HE-cell {
    background-color: #76ade6;
    border: 1px solid #172092;
}

div.HE-head {
    background-color: #172092;
    background: linear-gradient(90deg, #172092 30%, #fff 85%);
    border: 1px solid #172092;
}

.Institutions-cell.private-action-cell, .Institutions-cell.icon-cell {
    background-color: #fff;
    border-top: 0px;
    border-bottom: 0px;
}
.Institutions-cell.Institutions-cell-first    {
    filter: brightness(0.8);
}

div.p-a-used {
    filter: opacity(0.5);
}


.table th, .table td {
    padding: 3px;
}
 
td.current, div.current {
    border: calc(var(--bs-gutter-x)/5) solid #ff0000 !important;
    padding-left: calc(var(--bs-gutter-x)/2 - var(--bs-gutter-x)/5);
    padding-right: calc(var(--bs-gutter-x)/2 - var(--bs-gutter-x)/5);
}


button.btn.choose-btn, .btn-std-action {
    white-space: normal;
}

footer.footer {
    background-color: #eee;
}

.loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
}

.loading {
    filter: blur(5px) grayscale(0.8) opacity(0.1);
}

button.bootbox-close-button.close {
    cursor: pointer;
    font-weight: 100;
    padding: 1.75rem;
    margin: -1.75rem -1.75rem -1.75rem auto;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.40625rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}


.opacity05 {
    opacity: 0.5;
}

.not-available h5, .not-available p {
    opacity: 0.3;
}